.App {
  background-color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex-direction: column;
  
}


@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
.quote{
  color: black;
  margin-bottom: 2vh ;
  font-family: 'Poiret One';
  font-size: 250%;
  text-align: center;

}



@media only screen and (max-width: 600px) {


}



::-webkit-scrollbar {
  width: 0.5vw;
}

::-webkit-scrollbar-thumb {
  background: #212121;
}



