.image{
    max-width: 30vw;
    max-height: 30vh;
    margin: 1vw;
}

.accordion{

    margin-bottom: 2vh ;
    background: linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
}

.accordionE{

    background: linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
}

.accordionDetails{
    width: 98vw;
    background-color: white;
    justify-items: center !important;
    align-items: center !important; 
   
}

.panel1{
    width: 100% ;
    margin-bottom: 2vh ;
    margin-top: 2vh ;
}

.Card{
  padding: 1rem;
  color: white;
  border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      #FDBB2D, 
      #3A1C71
    ) 1 100%;
}

@media only screen and (max-width: 600px) {
    .Card{
        width: 90% !important;
    }


}

