
.accordionE{
    width: 100%;
    margin-bottom: 2vh ;
    background: linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
   
}

.accordion{
    width: 100% !important;
    margin-bottom: 2vh ;
    background: linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
}

.accordionDetails{
    width: 100% !important;
    background-color: white;
    padding-left: 0!important;
        padding-right: 0!important;

}



.Card{
  color: white;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      #FDBB2D, 
      #3A1C71
    ) 1 100%;
}

.divider{

  background:  linear-gradient(90deg, #FDBB2D 0%, #3a1c71 ) 100%;


  
}


.CardContent{
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.CardComment{
  margin-top: 0.35em !important;
}

@media only screen and (max-width: 900px) {
   



}

