.image{
    max-width: 30vw;
    max-height: 30vh;
    margin: 1vw;
}

.accordion{
    width: 100% ;
    margin-bottom: 2vh ;
    background: linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
}

.accordionE{
    background: linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
}

.accordionDetails{
    background-color: white;
}

.panel1{
    width: 100% ;
    margin-bottom: 2vh ;
    margin-top: 2vh ;
}

.Card{
  padding: 1rem;
  color: white;
  border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      #FDBB2D, 
      #3A1C71
    ) 1 100%;
}

